openapi: 3.1.1
info:
  title: api node tometome
  description: API documentation.
  version: 1.0.0
servers:
  - url: https://api.node.tometome.giize.com
  - url: http://localhost:3000
tags:
  - name: x
  - name: YouTube
paths:
  /v1/x/user:
    get:
      tags:
        - x
      security:
        - TokenAuth: []
      summary: Retrieve user data
      description: Fetches user information based on user ID.
      parameters:
        - name: userid
          in: query
          description: The ID of the user to retrieve.
          required: false
          schema:
            type: string
        - name: username
          in: query
          description: The ID of the user to retrieve.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response with user data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/xUser'

  /v1/x/post/{postId}:
    get:
      tags:
        - x
      security:
        - TokenAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: JWT
          content:
            application/json:
              schema:
                type: object
                properties:
                  post:
                    $ref: '#/components/schemas/xPost'

  /v1/x/posts:
    get:
      tags:
        - x
      security:
        - TokenAuth: []
      summary: Retrieve posts and user data
      description: Fetches posts and user information based on user ID or post ID.
      parameters:
        - name: userid
          in: query
          description: The ID of the user whose posts are to be retrieved.
          required: false
          schema:
            type: string
        - name: username
          in: query
          description: ユーザー名(@は含まない)。
          required: false
          schema:
            type: string
        - name: relatedposts
          in: query
          description: The ID of a specific post to retrieve.
          required: false
          schema:
            type: boolean
        - name: count
          in: query
          description: 取得する件数
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Successful response with user and posts data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/xUser'
                  posts:
                    type: array
                    description: List of posts.
                    items:
                      $ref: '#/components/schemas/xPost'
                  relatedPosts:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/xRelatePost'

  /x-text:
    get:
      tags:
        - x
      summary: テキストデータの解析
      description: 投稿のテキストの文字数をカウントします。
      parameters:
        - name: text
          in: query
          description: 解析するテキスト
          required: true
          schema:
            type: string
      responses:
        '200':
          description: テキスト解析の結果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/xText'

    post:
        tags:
          - x
        summary: テキストデータの解析
        description: 投稿のテキストの文字数をカウントします。
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                required:
                  - text
        responses:
          '200':
            description: テキスト解析の結果
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/xText'

  /v1/youtube/songs:
    get:
      tags:
        - YouTube
      summary: リリースされたアルバムのリストを返します。
      parameters:
        - name: channelid
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: YouTube releases
          content:
            application/json:
              schema:
                type: object
                properties:
                  songs:
                    type: array
                    items:
                      $ref: '#/components/schemas/youtubeVideo'

  /v1/youtube/releases:
    get:
      tags:
        - YouTube
      summary: リリースされたアルバムのリストを返します。
      parameters:
        - name: channelid
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: YouTube releases
          content:
            application/json:
              schema:
                type: object
                properties:
                  releases:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        releaseId:
                          type: string
                        type:
                          type: string # To Do
                        title:
                          type: string
                        year:
                          type: integer
                        thumbnailUrl:
                          type: string

  /v1/youtube/release:
    get:
      tags:
        - YouTube
      summary: リリースされたアルバムのリストを返します。
      parameters:
        - name: releaseid
          in: query
          required: true
          example: "MPREb_QBTyp2wAmDf"
          schema:
            type: string
      responses:
        '200':
          description: YouTube releases
          content:
            application/json:
              schema:
                type: object
                properties:
                  release:
                    $ref: '#/components/schemas/youtubeReleases'
                  releaseItems:
                    type: array
                    items:
                      $ref: '#/components/schemas/youtubeRelease'
                  releaseItemsVideos:
                    type: array
                    items:
                      $ref: '#/components/schemas/youtubeVideo'

  /jwt/apple/music/{name}:
    get:
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: JWT
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string


components:
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: "入力形式 → `token <token>`"

  schemas:

    xUser:
      type: object
      description: User information.
      properties:
        id:
          type: string
        displayName:
          type: string
        profileImageUrl:
          type: string
        userName:
          type: string
        userNameHistory:
          type: array
          items:
            type: string
        postLastUpdated:
          type: string
          format: date-time
        userLastUpdated:
          type: string
          format: date-time

    xPost:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        publishedAt:
          type: string
          format: date-time
        userId:
          type: string
        replyId:
          type: string
        repostId:
          type: string
        quoteRepostId:
          type: string
        urls:
          type: array
          items:
            type: string
        medias:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              sourcePostId:
                type: string
              sourceUserId:
                type: string
              media:
                type: object
                properties:
                  url:
                    type: string
                  aspectRatio:
                    type: object
                    properties:
                      width:
                        type: integer
                      height:
                        type: integer
              image:
                type: object
                properties:
                  url:
                    type: string
                  width:
                    type: integer
                  height:
                    type: integer

    xText:
      type: object
      properties:
        weightedLength:
          type: number
        valid:
          type: boolean
        permillage:
          type: number
        validRangeStart:
          type: number
        validRangeEnd:
          type: number
        displayRangeStart:
          type: number
        displayRangeEnd:
          type: number

    xRelatePost:
      allOf:
        - $ref: '#/components/schemas/xPost'
        - type: object
          properties:
            replyByIds:
              type: array
              items:
                type: string
            repostedByIds:
              type: array
              items:
                type: string
            quoteRepostByIds:
              type: array
              items:
                type: string

    youtubeReleases:
      type: object
      properties:
        id:
          type: string
        releaseId:
          type: string
        type:
          type: string # To Do
        title:
          type: string
        year:
          type: integer
        thumbnailUrl:
          type: string
        duration:
          type: integer
        artistChannelIds:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        lastUpdated:
          type: string
          format: date-time

    youtubeRelease:
      type: object
      properties:
        id:
          type: string
        listIndex:
         type: integer
        title:
          type: string
        videoId:
          type: string
        duration:
          type: integer
        releaseVideoId:
          type: string
        playlistId:
          type: string

    youtubeVideo:
      type: object
      properties:
        id:
          type: string
        ownerChannelId:
          type: string
        channelId:
          type: string
        publishedAt:
          type: string
          format: date-time
        privacyStatus:
          type: string
        short:
          type: boolean
        musicType:
          type: string
        thumbnailUrl:
          type: string
        artistId:
          type: array
          items:
            type: string
        duration:
          type: integer
